<header class="site-header">
  <div class="site-title" aria-label="Stylized site title">
    <span class="site-title__user">internets@<a href="{{ '/' | relative_url }}">byjoby</a>
    </span>
    <span class="site-title__separator">:</span>
    <span class="site-title__separator">~/htdocs</span>
    <span class="site-title__path">{{ page.url }}</span>
    <span class="site-title__prompt">$</span>
    <span class="site-title__cursor"></span>
  </div>
  <nav class="site-nav">
    <li>
      <a href="{{ '/blog/' | relative_url }}">Blog</a>
    </li>
  </nav>
</header>