$grid: 1rem;
$line-length: 40em;
$font-header: "Verdana", sans-serif;
$font-content: "Verdana", sans-serif;
$font-ui: "Verdana", sans-serif;
$font-code: "Courier New", monospace;

:root {
  --color-bg: rgba(255, 255, 255, 0.75);
  --color-fg: #111;
}