$grid: 1rem;
$line-length: 40em;
$font-header: "Open Sans", sans-serif;
$font-content: "Open Sans", sans-serif;
$font-ui: "Open Sans", sans-serif;
$font-code: "Hack", monospace;

:root {
  --color-bg: rgba(255,255,255,0.75);
  --color-fg: #111;
}